@charset "utf-8";



/* 1.041666666666667%

.cols-1 {width: 6.25%;}
.cols-2 {width: 14.58333333333333%;}
.cols-3 {width: 22.91666666666667%;}
.cols-4 {width: 31.25%;}
.cols-5 {width: 39.58333333333333%;}
.cols-6 {width: 47.91666666666667%;}
.cols-7 {width: 56.25%;}
.cols-8 {width: 64.58333333333333%;}
.cols-9 {width: 72.91666666666667%;}
.cols-10 {width: 81.25%;}
.cols-11 {width: 89.58333333333333%;}
.cols-12 {width: 97.91666666666667%;} */


/* font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Pen Script', cursive; */


/* header */

header {width: 1920px; background: #333; margin: 0 auto;}

/* title */

.title {background: #1fd26c url(../../img/bg/top_bg.png) no-repeat center; width: inherit; height: 90px;  text-align: center;}
.title h1 {font-family: 'Nanum Pen Script', cursive; font-size: 3rem; color: #fff;}

/* lnb */

.respon_toggle > label {display: none !important;}
.respon_toggle > input {display: none !important;}

#lnb {width: inherit; height: 140px; background: #333; margin: 0 auto; overflow: hidden; line-height: 140px;}

#lnb h1 {width: 29.6875%; float: left; text-align: center;}
#lnb h1 > a > img {vertical-align: middle;}
#lnb ul {width: 70.3125%; float: right; text-align: right;}
#lnb ul li {display: inline-block;}
#lnb ul li > a {display: block; color: #fff; font-size: 1.6rem; text-align: center; padding: 0 50px; transition: .3s ease;}

#lnb ul li > a:hover {background: #fff; color: #ccc;}


/* section */

section {width: 1920px; margin: 0 auto;}
section > article {width: inherit; overflow: hidden;}

/* main_banner */

.main_banner {background: #fff url(../img/my_main_banner.png) no-repeat center; text-align: center; background-size: cover;
padding-bottom: 615px;}
.main_banner h1 {padding-top: 175px; font-size: 3rem; line-height: 1.2; transition: .5s ease;}
.main_banner em {font-size: 2rem; padding: 10px 0 150px; display: block;}


/* article common */

.design > h1, .tool > h1, .function > h3, .shopping > h1,
.manage > h1 {font-size: 2.3333rem; font-weight: bold; letter-spacing: 1px; margin: 65px 0 95px; line-height: 1.3;
text-align: center; color: #333;}

/* design */

.design {}
.design > h1 {margin: 120px 0 15px;}
.design > p {font-size: 1.3rem; padding-bottom: 140px; text-align: center; line-height: 1.3; color: #333;}

.design .design_cont {width: inherit; overflow: hidden; color: #333;}
.design_cont > div {width: 49%; float: left;}

.d_c_desc01 {margin-left: 1%; text-align: center;}
.d_c_desc01 h2 {font-size: 2rem; letter-spacing: 1px; line-height: 1.3;}
.d_c_desc01 p {font-size: 1.2rem; padding: 40px 0 50px; line-height: 1.4;}
.d_c_desc01 a {font-size: 1.2rem; display: inline-block; color: #0cc0ed; transition: .5s ease; padding: 3px 10px;}
.d_c_desc01 a:hover {background: #0cc0ed; color: #fff;}
.d_c_desc01 a i {display: inline-block; animation: arrow 3s infinite; margin-top: 20px; color: #0cc0ed;
transition: .5s ease;}

.d_c_desc02 > img {width: 100%;}

@keyframes arrow {
	0% {
		transform: translateX(0) scale(1);
		animation-timing-function: linear;
		transform-origin: center;
	}

	50% {
		transform: translateX(50px) scale(2);
		animation-timing-function: linear;
		transform-origin: center;
	}

	100% {
		transform: translateX(100px) scale(3);
		animation-timing-function: linear;
		transform-origin: center;
	}
}


.d_c_desc02 {margin-right: 1%;}

/* tool */

.tool {margin: 200px auto 100px; clear: both;}

.tool_cont {width: 960px; margin: 0 auto; overflow: hidden;}
.tool_cont ul {width: 253px; float: left;}
.tool_cont ul:nth-child(2) {margin: 0 100px;}
.tool_cont ul li {}
.tool_cont ul li a {display: block; margin-bottom: 65px;}
.tool_cont ul li a img {display: block;}
.tool_cont ul li > h2 {font-size: 1.5rem; padding-bottom: 10px;}
.tool_cont ul li > p {font-size: 1rem; line-height: 1.5;}

.tool_cont ul:last-child > li > a > img {animation: circle 8s infinite; transition: .5s ease;}

@keyframes circle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(360deg);
	}

	50% {transform: rotate(-360deg);
	}

	100% {transform: rotate(0deg);}
}

/* function */

.function {background: #f6f6f8; text-align: center;}
.function > strong {display: inline-block; font-size: 1.2rem; width: 700px; line-height: 1.4;}

.function .function_icon {width: 960px; margin: 70px auto 50px;}
.function_icon > ul {width: 7.142857142857143%; display: inline-block; padding: 0 20px;}
.function_icon > ul li {}
.function_icon > ul li a {color: #ccc; transition: .5s ease;}
.function_icon > ul li:last-child a {padding-top: 10px; display: inline-block;}
.function_icon > ul li a i {font-size: 2.5rem;}

.function_icon > ul:hover li a {color: #000; font-weight: bold;}



.code {width: 840px; margin: 0 auto; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);}
.code > h4 {width: inherit; background: #fff; font-size: 1.5rem; color: #999; font-weight: bold; padding: 10px 0;}
.code > em {display: block; background: #fff; font-size: 1rem; color: #999; padding-bottom: 30px;}
.code > img {display: block; width: inherit; transition: .6s ease; filter: blur(4px); cursor: pointer;}

.code > img:hover {filter: blur(0px);}

/* shopping */

.shopping {}
.shopping > h1 {margin: 95px 0 35px;}
.shopping > p {font-size: 1.2rem; line-height: 1.4; text-align: center; padding-bottom: 100px;}
.shopping > div {width: 960px; float: left; box-sizing: border-box;}

.shopping_img {margin-bottom: 95px;}
.shopping_img img {width: 100%;}

.shopping_desc {padding: 120px 225px 125px 150px;}
.shopping_desc ul {}
.shopping_desc ul li {}
.shopping_desc ul li h2 {font-size: 1.2rem; font-weight: bold;}
.shopping_desc ul li p {font-size: 1rem; padding-bottom: 50px;}


/* manage */

.manage {border-top: 1px solid #999;}
.manage > h1 {margin-bottom: 45px;}
.manage > em {display: block; text-align: center; font-size: 1.2rem; line-height: 1.4;}

.manage > div {width: 960px; float: left; box-sizing: border-box;}
.manage_desc {padding: 250px;}
.manage_desc > h2 {font-size: 1.5rem; font-weight: bold;}
.manage_desc > p {font-size: 1.2rem; padding-top: 30px; line-height: 1.4;}

.manage_img {margin: 100px 0 200px;}
.manage_img > img {width: 100%;}

/* statistics */


.statistics {text-align: center; border-top: 1px solid #ccc;}
.statistics > h1 {padding: 115px 0 30px; font-size: 3.3333rem;}
.statistics > em {color: #ccc; font-size: 1.8rem; margin-bottom: 100px; display: block;}

.statistics .stat_cont {width: 960px; margin: 0 auto; overflow: hidden;}

.stat_cont ul {width: 300px; float: left;}
.stat_cont ul:nth-child(2) {margin: 0 30px;}


.stat_cont ul li h2 {font-size: 6rem; color: #66ccff; font-weight: bold;}
.stat_cont ul li strong {font-size: 1.8rem; padding: 20px 0; display: inline-block;}
.stat_cont ul li p {font-size: 1.1rem; padding-bottom: 120px;}


/* partner */

.partner {border-top: 1px solid #ccc; text-align: center; clear: both;}

.partner > h1 {padding: 110px 0 30px; font-size: 3.3333rem;}
.partner > em {color: #ccc; font-size: 1.8rem; margin-bottom: 85px; display: block;}

.partner ul {width: 960px; margin: 0 auto 130px;}
.partner ul li {display: inline-block; padding: 0 20px;}
.partner ul li img {cursor: pointer; transition: .5s ease;}
.partner ul li:hover img {transform: scale(1.2);}


/* footer */

footer {background: #010102 url(../img/bg/footer_bg.png) no-repeat center; clear: both; overflow: hidden; text-align: center;}

#ft_lnb {width: 960px; margin: 160px auto 100px; overflow: hidden;}
#ft_lnb ul {width: 225px; float: left; text-align: center;}
#ft_lnb ul:nth-child(2) {margin: 0 30px;}
#ft_lnb ul li {padding: 10px 0;}
#ft_lnb ul li:first-child {padding: 0;}
#ft_lnb ul li:last-child {padding: 10px 0 0 0;}
#ft_lnb ul li a {color: #7f7f7f; font-size: 1.5rem; display: block; transition: .5s ease;}
#ft_lnb ul li a > h1 {color: #ccc; font-size: 2rem;}
#ft_lnb ul li a:hover {background-color: #fff; color: #000; font-weight: bold;}


.copyright {width: 960px; margin: 0 auto; text-align: center; clear: both; color: #7f7f7f;}

.copyright p {font-size: 1.1rem}
.copyright p:nth-child(2) {color: #fff; padding-top: 10px;}
.copyright ul {margin: 50px auto 90px;}
.copyright ul li {display: inline-block; color: #7f7f7f; font-size: 1.5rem; padding: 0 10px;}
.copyright ul li a {color: #7f7f7f; transition: .5s ease; display: block;}

.copyright ul li a:hover {background-color: #fff; color: #000; font-weight: bold;}

footer > em {color: #7f7f7f; font-style: italic; font-size: 1.5rem;}


/* media query */

@media screen and (max-width: 1920px) {

html {font-size: 100%;}

header {width: 100vw;}
section {width: 100vw;}
footer {width: 100vw;}

}

@media screen and (max-width: 1919px) and (min-width: 1819px) {

.shopping > div, .manage > div {width: 50vw;}



}


@media screen and (max-width: 1818px) {
html {font-size: 97.5%;}

.main_banner {background-size: 1818px 630px;}
.shopping > div, .manage > div {width: 50vw;}

.shopping_desc ul li h2 {font-size: 1.5rem;}
.shopping_desc ul li p {font-size: 1.2rem;}
.main_banner {padding-bottom: 310px;}

.function_icon > ul li a {font-size: 1.2rem;}

.manage_desc {padding: 120px;}
.shopping_desc {padding: 120px;}

}

@media screen and (max-width: 1719px) {
html {font-size: 95%;}

#lnb h1 {width: 30vw;}
#lnb ul {width: 70vw; float: left;}

.main_banner {background-size: 1719px 624px;}
.manage_img {margin: 100px 0 150px;}

}

@media screen and (max-width: 1600px) {
html {font-size: 92.5%;}

.main_banner {background-size: 1600px 621px;}
.manage_desc {padding: 80px;}
.shopping_desc {padding: 80px;}

}

@media screen and (max-width: 1499px) {
html {font-size: 90%;}

.title {height: auto;}

#lnb {padding-top: 0;}

.main_banner {background-size: 1499px 615px; padding-bottom: 280px;}
.manage_desc {padding: 60px;}
.shopping_desc {padding: 0 60px 60px 60px;}
.manage_img {margin: 100px 0 100px;}

}

@media screen and (max-width: 1360px) {

.main_banner {background-size: 1360px 615px;}

}

@media screen and (max-width: 1280px) {

html {font-size: 87.5%;}

#lnb ul li > a {padding: 0 25px;}

.main_banner {background-size: 1280px 612px; padding-bottom: 105px;}
.main_banner h1 {padding-top: 50px;}
.main_banner em {padding: 10px 0 200px;}
.design > h1 {margin: 85px 0 15px;}

.function > h3 {margin: 45px auto !important;}
.d_c_desc01 a:not(.fa-arrow-right) {font-size: 2rem;}

}

@media screen and (max-width: 1100px) {

.main_banner {background-size: 1100px 612px;}
.tool_cont ul li > p {font-size: 1.2rem;}
}



@media screen and (max-width: 1024px) {
html {font-size: 85%;}

.main_banner {background-size: 1024px 607px;}

.main_banner h1 {padding-top: 100px;}
.main_banner a {margin-bottom: 100px;}
.d_c_desc01 p {padding: 40px 10px 50px 10px;}

}

@media screen and (max-width: 960px) {
html {font-size: 82.5%;}

.function > h3 {margin: 45px auto !important;}

.main_banner {background-size: 960px 500px;}
.main_banner h1 {padding-top: 82px;}
.main_banner em {padding: 10px 0 250px;}

.design > p {line-height: 1.6; padding-top: 30px;}
.design_cont > div {width: 95vw; float: none;}

.d_c_desc01 {margin: 0 auto;}
.d_c_desc02 {margin: 200px auto 0;}
.d_c_desc01 h2 {font-weight: bold;}
.d_c_desc01 p {font-size: 1.5rem;}

.d_c_desc01 a i {animation: arrow-down 3s infinite; opacity: 0; font-size: 1rem; display: block;}

@keyframes arrow-down {
	0% {
		transform: translateY(0) scale(5) rotate(90deg);
		animation-timing-function: linear;
		transform-origin: center;
		opacity: 0.2;
	}

	50% {
		transform: translateY(80px) scale(6) rotate(90deg);
		animation-timing-function: linear;
		transform-origin: center;
		opacity: 0.5;
	}

	100% {
		transform: translateY(160px) scale(7) rotate(90deg);
		animation-timing-function: linear;
		transform-origin: center;
		opacity: 1;
	}
}


.tool_cont {width: 100vw; box-sizing: border-box; padding: 0 6vw;}
.tool_cont ul {width: 25vw;}
.tool_cont ul:nth-child(2) {margin: 0 6vw;}

.shopping > div, .manage > div {width: 100vw; float: none; padding: 4vw;}

.shopping > p {padding-bottom: 50px;}
.shopping_img {margin-bottom: 45px;}
.manage_img {margin: 30px 0 100px;}

.tool {margin: 100px auto;}
.tool_cont {width: 95vw; padding: 0;}
.tool_cont ul {width: 90vw; float: none; margin: 40px auto;}
.tool_cont ul:nth-child(2) {margin: 40px auto;}
.tool_cont ul li {text-align: center; width: inherit;}
.tool_cont ul li > p {width: inherit;}
.tool_cont ul li > h2 {font-weight: bold; width: inherit;}
.tool_cont ul li:first-child a {margin: 20px auto; text-align: center;}
.tool_cont ul li a img {display: inline-block;}

.function .function_icon {width: 100vw;}

.statistics .stat_cont {width: 100vw; box-sizing: border-box; padding: 10px;}
.stat_cont ul {width: 30vw;}

.partner ul {width: 100vw;}

#ft_lnb {width: 100vw;}
#ft_lnb ul {width: 22.5vw;}
.copyright {width: 100vw;}

}

@media screen and (max-width: 950px) {

.tool_cont ul li:first-child a {text-align: center;}
.tool_cont ul li a img {display: inline-block;}
.partner ul li {display: block; padding: 0; margin: 5vh 0;}

}


@media screen and (max-width: 906px) {

.code {width: 90vw; margin: 20px auto;}

}

@media screen and (max-width: 816px) {

.main_banner h1 {font-family: 'Nanum Pen Script', cursive; font-size: 6rem;}
.main_banner em {visibility: hidden;}
.stat_cont ul {width: 97vw; float: none; margin: 0 auto;}
.stat_cont ul:nth-child(2) {margin: 8vh 0;}


}

@media screen and (max-width: 815px) and (min-width: 769px) {


.stat_cont ul {width: 97vw; float: none; margin: 0 auto;}
.stat_cont ul:nth-child(2) {margin: 8vh 0;}
.shopping > h1 {margin: 45px 0 35px;}
.design > p {padding-bottom: 70px;}

}


@media screen and (max-width: 768px) {
html {font-size: 80%;}

.main_banner {background-size: 768px 320px; padding: 0;}
.main_banner h1 {padding-top: 53px; font-size: 6rem}


.respon_toggle {position: relative;}
.respon_toggle > label {display: block !important; font-size: 4rem !important; color: #fff !important; margin: 0 auto !important; position: absolute !important; top: 20% !important; right: 5% !important; cursor: pointer !important;}

.respon_toggle > input:checked ~ #lnb ul {visibility: visible !important; opacity: 1 !important; max-height: 330px !important;}

#lnb {overflow: visible; padding: 10px 0; height: 100px; line-height: 100px;}
#lnb h1 {width: 30vw; float: none;}
#lnb ul {width: 100vw; float: none; visibility: hidden; opacity: 0; max-height: 0; transition: .5s ease; text-align: center;
background: #00b7ff; position: absolute; top: 100%; left: 0;}

#lnb ul li {display: block; width: inherit; box-sizing: border-box; border-bottom: 1px solid #fff;}
#lnb ul li > a {font-size: 1.6rem; padding: 0; font-weight: bold; line-height: 60px;}

#lnb h1 > a {padding-left: 10px;}

.design > h1 {margin: 20px 0 20px;}

.tool {margin: 50px auto;}

.shopping_desc ul {text-align: center;}
.shopping_desc ul li h2 {padding-bottom: 20px; font-size: 2rem;}
.shopping > div, .manage > div {text-align: center; margin-top: 20px;}
.manage_desc > h2 {font-size: 2rem;}

.function > strong {width: 90vw;}

.statistics > h1 {padding: 20px 0 30px;}
.statistics > em {margin-bottom: 30px;}

.stat_cont ul li p {padding-bottom: 0;}

.partner > h1 {padding: 20px 0 30px;}

.statistics .stat_cont {margin-bottom: 20px;}

.partner ul {overflow: hidden;}
.partner ul li {width: 50vw; float: left; text-align: center; height: 120px; line-height: 120px;}

.partner ul li img {display: inline; vertical-align: bottom;}



}

@media screen and (max-width: 767px) {



}

@media screen and (max-width: 640px) {
html {font-size: 78.5%;}

#lnb {padding: 15px 0;}

#lnb ul li > a {line-height: 55px;}
.design > p {padding-bottom: 40px;}
.function_icon {overflow: hidden;}
.function_icon > ul {float: left; display: block; width: 18vw;}
.function_icon > ul:nth-child(n+5) {clear: both; display: inline-block !important; float: none; margin-top: 30px;}
.partner > em {font-size: 1.4rem;}

}

@media screen and (max-width: 599px) {


#ft_lnb {width: 97vw;}
#ft_lnb ul:first-child {margin-left: 10px;}
#ft_lnb ul:nth-child(2) {margin: 0 10px;}
#ft_lnb ul:nth-child(3) {margin-right: 10px;}

}

@media screen and (max-width: 585px) {


.d_c_desc01 p {padding: 40px 0 0 0;}
.tool_cont ul li > h2 {font-size: 2rem;}
.partner > em {margin-bottom: 42.5px;}
.partner ul {margin: 0 auto 65px;}

}


@media screen and (max-width: 572px) {


.function_icon > ul {width: 17vw;}
.statistics > h1 {font-size: 2rem;}

#ft_lnb ul {width: 20.5vw;}
#ft_lnb ul li a > h1 {font-size: 1.2rem;}
#ft_lnb ul li a {font-size: 1rem;}
.copyright {width: 97vw;}
.copyright p {font-size: 1rem;}

}

@media screen and (max-width: 500px) {

.function_icon > ul {width: 16vw;}

}

@media screen and (max-width: 480px) {

.main_banner {background-image: none;}
.main_banner em {padding: 0;}

.design .design_cont {margin-top: 40px;}
.design > p, .d_c_desc01 p, .tool_cont ul li > p {width: 90vw; margin: 0 auto; padding: 30px 55px 40px 55px;
	box-sizing: border-box;}

.shopping > p {width: 90vw; margin: 0 auto; padding: 30px 20px 40px 20px; box-sizing: border-box;}
.shopping_desc ul li:nth-child(2) p {padding: 30px 19px 40px 19px;}
.shopping_desc ul li p {width: 90vw; margin: 0 auto; padding: 30px 40px 40px 40px; box-sizing: border-box;}

.partner {display: block;}
.partner > em {font-size: 1.2rem; margin: 0;}
.partner ul li {width: 95vw; float: none;}

#ft_lnb {margin: 100px auto 80px;}
#ft_lnb ul {width: 95vw; float: none;}
#ft_lnb ul:first-child {margin: 0 auto 60px;}
#ft_lnb ul:nth-child(2) {margin: 60px auto;}
#ft_lnb ul:nth-child(3) {margin: 0 auto 60px;}
#ft_lnb ul li {padding: 5px 0;}

#ft_lnb ul li a > h1 {font-size: 2rem;}
#ft_lnb ul li a {font-size: 1.5rem;}

}

















