@charset "utf-8";



/* 1.041666666666667%

.cols-1 {width: 6.25%;}
.cols-2 {width: 14.58333333333333%;}
.cols-3 {width: 22.91666666666667%;}
.cols-4 {width: 31.25%;}
.cols-5 {width: 39.58333333333333%;}
.cols-6 {width: 47.91666666666667%;}
.cols-7 {width: 56.25%;}
.cols-8 {width: 64.58333333333333%;}
.cols-9 {width: 72.91666666666667%;}
.cols-10 {width: 81.25%;}
.cols-11 {width: 89.58333333333333%;}
.cols-12 {width: 97.91666666666667%;} */


/* font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'EB Garamond', serif; */

/* .icon-down-open .icon-down-open-1 .icon-menu */

body {font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 1.5em; color: #535353;}

h2 {font-size: 36px; font-weight: 100; margin-bottom: 20px; margin-bottom: 0.7rem; color: #181818;}
h3 {font-size: 18px; font-weight: 100; margin-bottom: 1rem; color: #181818;}
img {max-width: 100%; display: block;}

ins {text-decoration: none; background: #ff9; color: #000;}



#header {width: 100%; height: 5rem; background: rgba(29, 39, 24, 1);}
span#logo {/* line-height: 70px; margin-left: 40px; */ display: block; float: left; font-size: 40px;}
span#logo a {color: #9dce1c; line-height: 5rem; padding-left: 2rem;}
span#logo a:hover {color: #fff;}

.m-nav {display: none;}

.nav {width: auto; float: right;}
.nav > li {float: left; height: 5rem; line-height: 5rem; margin: 0 1rem; position: relative;}
.nav > li > a {color: #f2f2f2; padding: 0 20px; display: block;}
.nav > li > a:hover {background: rgba(255, 255, 255, 0.1); color: #9f0;}

.nav .drop {display: /* block */ none; position: absolute; background: rgba(0, 0, 0, 0.7); width: 160px;
text-align: center; z-index: 20;}

.nav .drop li {text-align: center;}
.nav .drop li:first-child {border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.nav .drop li a {color: #f0f0f0;}
.nav .drop li a:hover {background: rgba(255, 255, 255, 0.8); color: #333; }


#wrap {width: 100%;}
section {width: 100%;}

.bannerBg {display: table;}

.container {display: table-cell; vertical-align: middle; position: relative;}
.container img {}

.banTit {position: absolute; top: 50%; left: 20%; transform: translateY(-50%);}
.banTit span {padding-bottom: 30px; font-size: 16px; color: #fff; display: inline-block;}
.banTit p {font-size: 20px; color: #9f0; padding-bottom: 15px;}
.banTit .s-btn {background: rgba(255, 255, 255, 0.8); width: 180px; padding: 12px 0; transition: .5s ease; text-align: center; color: #333;
display: block;}
.banTit .s-btn:hover {background: rgba(0, 0, 0, 0.7); color: #fff;}

/* plugin css http://kenwheeler.github.io/slick/ */

#banner .slick-prev {background: url(../img/assets/prevbtn.png) no-repeat; width: 8%; height: 80px; border: none; outline: none;
position: absolute; top: 50%; left: 100px; z-index: 10;}
#banner .slick-next {background: url(../img/assets/nextbtn.png) no-repeat; width: 8%; height: 80px; border: none; outline: none;
position: absolute; top: 50%; right: 100px; z-index: 10;}

#main-content {background: rgba(239, 239, 239, 1); text-align: center;}
.ab-tit {width: 70%; margin: 0 auto; padding: 80px 0; border-bottom: 1px solid rgba(228, 228, 228, 1);}
.ab-tit h2 {margin-bottom: 50px;}
.ab-tit p {}

.row-sec {width: 100%; padding: 80px 0;}

.ui-cont {width: 70%; margin: 0 auto; overflow: hidden;}

.ui-cont li {width: 23.5%; float: left; margin-right: 2%;}
.ui-cont li:last-child {margin-right: 0;}
.ui-cont li i {font-size: 36px; display: inline-block; margin-bottom: 20px;}
.ui-cont li p {margin-bottom: 20px;}

.se-btn {width: 55%; background: rgba(34, 223, 214, 1); display: inline-block; padding: 10px 0; transition: .5s ease;}
.se-btn:hover {background: rgba(29, 131, 131, 1); color: #fff;}


.blog-box {background: #fff;}

.blog {overflow: hidden; width: 70%; margin: 0 auto;}

.blog li {width: 48%; float: left; text-align: left; cursor: pointer;}
.blog li h3 {padding-left: 10px;}
.blog li p {padding: 0 10px;}
.blog li img {width: 100%;}

.bott-pos {margin-bottom: 4%;}
.rig-pot {float: right !important;}

.ani-hover {position: relative; overflow: hidden; margin-bottom: 15px;}
.hover-block {position: absolute; width: 100%; background: rgba(0, 0, 0, 0.6); bottom: -50px; opacity: 0; 
	transition: bottom .5s ease, opacity .5s ease;}
.hover-block p {padding: 10px 0 10px 10px; color: #ccc;}

.ani-hover:hover .hover-block {opacity: 1; bottom: 0;}

/* mobile background image attachment = position:fixed + jQuery + :before just like layer */


.info-tit:before {background: #fff url(../img/assets/content-bg.jpg) no-repeat center bottom; content: ""; display: block; position: fixed;
top: 0; left: 0; width: 100%; z-index: -1; height: 100%;}
.info-tit {width: 70%; margin: 0 auto; text-align: center;}
.info-tit p {color: #ccc; font-style: italic; font-size: 16px;}


#footer {background: rgba(24, 24, 24, 1); text-align: center; padding: 80px 0;}

.foot-admin {width: 70%; margin: 0 auto;}
.foot-admin h2 {color: #3e3e3e; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px;}
.foot-admin p {margin-bottom: 15px;}
.foot-admin span .fa {font-size: 24px; margin: 0 10px;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 960px) {
	
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 320px) {}

























