# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/sonarlint/issuestore/3/9/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/e/
.idea/workspace.xml
asset/.idea/inspectionProfiles/
