/* Margin Reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button {
  margin: 0;
  padding: 0;
}

/* a link reset */

a {
  color: #273743;
  text-decoration: none;
}

a:hover {
  color: #249620;
}

/* Font Reset (나눔고딕인 경우 범용성 높아 오차가 적다)*/

body, input, textarea, select, button, table {
  font-family: "나눔 고딕", "Nanum Gothic", "돋움", Dotum, sans-serif;
  font-size: 12px;
  line-height: 1.7;
}

/* Title Style Reset */

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
}

/* bullet reset */

li, ol, ul {
  list-style: none;
}


/* em, address tag italic reset */

em, address {font-style: normal;}


/* img tag border reset */

img, fieldset {border:0;}
