@charset "utf-8";



/* 1.041666666666667%

.cols-1 {width: 6.25%;}
.cols-2 {width: 14.58333333333333%;}
.cols-3 {width: 22.91666666666667%;}
.cols-4 {width: 31.25%;}
.cols-5 {width: 39.58333333333333%;}
.cols-6 {width: 47.91666666666667%;}
.cols-7 {width: 56.25%;}
.cols-8 {width: 64.58333333333333%;}
.cols-9 {width: 72.91666666666667%;}
.cols-10 {width: 81.25%;}
.cols-11 {width: 89.58333333333333%;}
.cols-12 {width: 97.91666666666667%;} */


/* font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Pen Script', cursive; */


/* header */

header {width: 1920px; background: #00b7ff; padding-bottom: 85px; margin: 0 auto;}

/* title */

.title {background: #1fd26c url(../img/bg/top_bg.png) no-repeat center; width: inherit; height: 90px;  text-align: center;}
.title h1 {font-family: 'Nanum Pen Script', cursive; font-size: 3rem; color: #fff;}

/* lnb */

.respon_toggle label {display: none;}
.respon_toggle input {display: none;}

#lnb {width: inherit; height: 65px; background: #00b7ff; margin: 0 auto; overflow: hidden; padding-top: 25px;}

#lnb h1 {width: 29.6875%; float: left; text-align: center;}
#lnb h1 > a {}
#lnb ul {width: 70.3125%; float: right; text-align: right;}
#lnb ul li {display: inline-block;}
#lnb ul li > a {display: block; color: #fff; font-size: 1.6rem; text-align: center; line-height: 65px; padding: 0 50px;
transition: .3s ease;}

#lnb ul li > a:hover {background: #fff; color: #00b7ff;}


/* section */

section {width: 1920px; margin: 0 auto;}
section > article {width: inherit; overflow: hidden;}

/* main_banner */

.main_banner {margin: 0 auto;}

.main_banner > div {float: left; background: #00b7ff;}

.main_banner div:first-child {width: 62.5%; overflow: hidden;}
.main_banner div:first-child > img {float: right;}
.main_banner div:nth-child(2) {width: 37.5%; padding: 100px 0 323px;}

.main_banner div > img {display: block;}

.main_banner div:first-child > h1 {display: none;}
.main_banner div:first-child > a {display: none;}



/* content 01 */

.content01 {margin: 140px auto 120px; text-align: center;}
.content01 > h1 {font-size: 3.3rem; font-weight: bold; padding-bottom: 30px;}
.content01 > p {font-size: 2rem; color: #999; padding-bottom: 130px;}

.content01 .cont_01_img {width: 900px; margin: 0 auto; overflow: hidden;}

.cont_01_img ul {float: left; width: 245px;}
.cont_01_img ul:nth-child(2) {margin: 0 80px;}
.cont_01_img ul li {width: inherit; font-size: 0.75rem; color: #666;}
.cont_01_img ul li a {display: block;}
.cont_01_img ul li a img {display: block; transition: .5s ease; filter: sepia(100);}
.cont_01_img ul li a img:hover {filter: sepia(0); transform-origin: top;}
.cont_01_img ul li h2 {font-size: 2rem; color: #000; padding-top: 60px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);}
.cont_01_img ul li:last-child {padding-top: 10px;}


/* second banner */

.second_banner {border-top: 1px solid #ccc; text-align: center;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */}

.second_banner h1 {padding-top: 110px; font-size: 3.3333rem; font-weight: bold; line-height: 1.2; padding-bottom: 40px;}
.second_banner em {font-size: 2rem; color: #999;}
.second_banner img {display: block; margin: 190px auto 120px;}

/* third banner */

.third_banner {}
.third_banner > div {width: 960px; height: 700px; float: left;}

.thi_ban_01 {background: url(../img/mid_banner_bg_01.png) no-repeat center; background-size: cover;}

.thi_ban_02 {background: url(../img/mid_banner_bg_02.png) no-repeat; text-align: center; line-height: 1.2;
background-size: contain; background-position: right bottom;}
.thi_ban_02 h1 {font-size: 3.3333rem; padding: 80px 0 75px;}
.thi_ban_02 ul {width: 65.625%; margin: 0 auto; overflow: hidden;}
.thi_ban_02 ul:nth-of-type(2) {margin: 60px auto;}

.thi_ban_02 ul li {display: inline-block; width: 20%; float: left;}
.thi_ban_02 ul li a {display: block; transition: .5s ease;}
.thi_ban_02 ul li a:hover {font-weight: bold; color: #000;}
.thi_ban_02 ul li a i {width: 40px; height: 35px; font-size: 26.4px; text-align: center; display: inline-block;
transition: .5s ease;}

.thi_ban_02 ul li a i:hover {color: #999; transform: scale(1.5); transform-origin: top;}

.thi_ban_02 ul li a span {display: block; color: #999; padding-top: 25px;}
.thi_ban_02 ul li a img {text-align: center; transition: .5s ease;}
.thi_ban_02 ul li a img:hover {transform: scale(1.5); transform-origin: top;}
.thi_ban_02 ul li a img.img02 {width: 40px; height: 35px;}
.thi_ban_02 ul li a img.img01 {width: 30px; height: 25px;}


/* fourth_banner */

.fourth_banner {text-align: center;
background: -moz-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,248,248,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,248,248,0) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */}

.fourth_banner > h1 {padding: 145px 0 35px; font-size: 3.3333rem;}
.fourth_banner > em {font-size: 2rem; color: #999; line-height: 1.2;}

.fourth_banner .four_ban_content {width: 74.47916666666667%; margin: 100px auto 0; overflow: hidden;}

.fourth_banner > div > div {float: left;}
.fourth_banner > div > div > div {width: 350px; height: 140px; background: #fff; margin: 20px auto 0;}


.fourth_banner .fb_01 {width: 30.38732394366197%; text-align: left;}
.fourth_banner .fb_03 {width: 30.38732394366197%;}

.fb_01 h2 {font-size: 1.2rem; padding: 15px 0 10px 25px; border-bottom: 1px solid #999;}
.fb_01 p {font-size: 1rem; padding: 10px 0 25px 25px;}

.fourth_banner .fb_02 {width: 39.22535211267606%;}
.fourth_banner .fb_02 img {display: block;}

.fb_01 > div {border-radius: 15px;}

.fb_03 > div {border-radius: 75px; overflow: hidden; cursor: pointer; transition: .5s ease;}
.fb_03 > div:hover {box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); font-weight: bold;}
.fb_03 > div > a {display: block; float: left; width: 28.57142857142857%; text-align: right; height: inherit;}
.fb_03 > div > a > img {padding-top: 40px;}
.fb_03 > div > h3 {font-size: 1.2rem; width: 71.42857142857143%; float: left; text-align: left; box-sizing: border-box;
padding-left: 60px; margin-top: 46px;}
.fb_03 > div > p {font-size: 1rem; width: 71.42857142857143%; float: left; text-align: left; box-sizing: border-box;
padding-left: 60px;}
.fb_03 > em {font-size: 1.2rem; margin: 30px 0 0 40px; display: inline-block; clear: both; float: left;}


/* interview */

.interview {background: #333;}

.interview > h1 {color: #999; font-size: 3.3333rem; text-align: center; padding: 125px 0 145px;}

.interview .inter_cont {width: 960px; margin: 0 auto; overflow: hidden;}

.inter_cont ul {float: left; text-align: center;}
.inter_cont ul:nth-child(1) {width: 250px;}
.inter_cont ul:nth-child(2) {width: 250px; margin: 0 80px;}
.inter_cont ul:nth-child(3) {width: 300px;}
.inter_cont ul li {width: 100%;}

.inter_cont ul li:first-child a {background-repeat: no-repeat; background-size: cover; background-position: center;
	display: block; width: 142px; height: 142px; margin: 0 auto; transition: .3s ease; cursor: pointer; z-index: 1;}

	.inter_cont ul li:first-child a:hover {transform: scale(1.2); transform-origin: top;}

.ci01 {background-image: url(../icon/ceo_icon_01.png);}
.ci02 {background-image: url(../icon/ceo_icon_02.png);}
.ci03 {background-image: url(../icon/ceo_icon_03.png);}

.inter_cont ul li h2 {padding-top: 45px; font-size: 1.2rem; color: #fff; font-weight: bold;}
.inter_cont ul li p {color: #999; padding-top: 20px; font-size: 0.95rem;}

.icon_box {width: inherit; float: left; margin-top: 80px; padding-bottom: 120px;}
.icon_box a {display: inline-block;}

.icon_box a:first-child {margin-left: 45px;}
.icon_box a:nth-child(2) {margin: 0 70px 0 120px;}


/* login */

.login {clear: both; text-align: center;}
.login > h1 {padding: 125px 0 30px; font-size: 3.3333rem;}
.login > strong {font-size: 2rem; color: #999; line-height: 1.2;}

input {display: block; width: 585px; height: 100px; margin: 0 auto; border: 0; outline: 0; border-radius: 15px;
cursor: pointer; font-size: 2rem; color: #fff; transition: .5s ease;}

.nv_lg {margin-top: 90px; background: #67b627;}
.nv_lg:hover {background: #fff; color: #67b627; border: 1px solid #ccc;}
.fb_lg {margin: 20px auto; background: #3d8bea;}
.fb_lg:hover {background: #fff; color: #3d8bea; border: 1px solid #ccc;}
.gogl_lg {background: #f56a6a;}
.gogl_lg:hover {background: #fff; color: #f56a6a; border: 1px solid #ccc;}
.signup {background: #69cced;}
.signup:hover {background: #fff; color: #69cced; border: 1px solid #ccc;}

.line {margin: 65px auto; position: relative; width: 585px; height: 2px; background-color: #ccc;}
.line p {font-size: 2rem; position: absolute; top: -25px; left: 43%; background-color: #fff; padding: 0 10px;}

.login > p {padding: 45px 0 140px; font-size: 2rem;}
.login > p > a {color: #69cced;}


/* fifth_banner */

.fifth_banner {background: #ccc url(../img/bg/biz_bg.jpg) no-repeat center; text-align: center;}
.fifth_banner h1 {font-size: 3.3333rem; color: #fff; font-weight: bold; padding: 130px 0 30px}
.fifth_banner em {color: #ccc; font-size: 1.8rem;}
.fifth_banner a {width: 585px; height: 100px; display: block; background: #69cced; border-radius: 15px;
color: #fff; line-height: 100px; font-size: 2rem; margin: 50px auto 125px; transition: .3s ease;}

.fifth_banner a:hover {background-color: #fff; color: #69cced; font-weight: bold;}


.statistics {text-align: center;}
.statistics > h1 {padding: 115px 0 30px; font-size: 3.3333rem;}
.statistics > em {color: #ccc; font-size: 1.8rem; margin-bottom: 100px; display: block;}

.statistics .stat_cont {width: 960px; margin: 0 auto; overflow: hidden;}

.stat_cont ul {width: 300px; float: left;}
.stat_cont ul:nth-child(2) {margin: 0 30px;}


.stat_cont ul li h2 {font-size: 6rem; color: #66ccff; font-weight: bold;}
.stat_cont ul li strong {font-size: 1.8rem; padding: 20px 0; display: inline-block;}
.stat_cont ul li p {font-size: 1.1rem; padding-bottom: 120px;}


/* partner */

.partner {border-top: 1px solid #ccc; text-align: center; clear: both;}

.partner > h1 {padding: 110px 0 30px; font-size: 3.3333rem;}
.partner > em {color: #ccc; font-size: 1.8rem; margin-bottom: 85px; display: block;}

.partner ul {width: 960px; margin: 0 auto 130px;}
.partner ul li {display: inline-block; padding: 0 20px;}
.partner ul li img {cursor: pointer; transition: .5s ease;}
.partner ul li:hover img {transform: scale(1.2);}


/* footer */

footer {background: #010102 url(../img/bg/footer_bg.png) no-repeat center; clear: both; overflow: hidden; text-align: center;}

#ft_lnb {width: 960px; margin: 160px auto 100px; overflow: hidden;}
#ft_lnb ul {width: 225px; float: left; text-align: center;}
#ft_lnb ul:nth-child(2) {margin: 0 30px;}
#ft_lnb ul li {padding: 10px 0;}
#ft_lnb ul li:first-child {padding: 0;}
#ft_lnb ul li:last-child {padding: 10px 0 0 0;}
#ft_lnb ul li a {color: #7f7f7f; font-size: 1.5rem; display: block; transition: .5s ease;}
#ft_lnb ul li a > h1 {color: #ccc; font-size: 2rem;}
#ft_lnb ul li a:hover {background-color: #fff; color: #000; font-weight: bold;}


.copyright {width: 960px; margin: 0 auto; text-align: center; clear: both; color: #7f7f7f;}

.copyright p {font-size: 1.1rem}
.copyright p:nth-child(2) {color: #fff; padding-top: 10px;}
.copyright ul {margin: 50px auto 90px;}
.copyright ul li {display: inline-block; color: #7f7f7f; font-size: 1.5rem; padding: 0 10px;}
.copyright ul li a {color: #7f7f7f; transition: .5s ease; display: block;}

.copyright ul li a:hover {background-color: #fff; color: #000; font-weight: bold;}

footer > em {color: #7f7f7f; font-style: italic; font-size: 1.5rem;}

/*
@media screen and (max-width: 1920px) {
header {width: 100vw;}
section {width: 100vw;}
.third_banner > div {width: 50vw;}
}
@media screen and (min-width: 1720px) and (max-width: 1918px) {}
@media screen and (min-width: 1600px) and (max-width: 1719px) {
#lnb h1 {width: 30vw;}
#lnb ul {width: 70vw; float: left;}
}
@media screen and (min-width: 1280px) and (max-width: 1599px) {}
@media screen and (min-width: 1024px) and (max-width: 1279px) {}
@media screen and (min-width: 780px) and (max-width: 1023px) {}
@media screen and (min-width: 640px) and (max-width: 779px) {}
@media screen and (min-width: 480px) and (max-width: 639px) {}
@media screen and (max-width: 479px) {}
*/

@media screen and (max-width: 1920px) {
html {font-size: 100%;}
header {width: 100vw;}
section {width: 100vw;}
footer {width: 100vw;}

.third_banner > div {width: 50vw;}

}


@media screen and (max-width: 1818px) {
html {font-size: 97.5%;}




}

@media screen and (max-width: 1719px) {
html {font-size: 95%;}

#lnb h1 {width: 30vw;}
#lnb ul {width: 70vw; float: left;}



}

@media screen and (max-width: 1600px) {
html {font-size: 92.5%;}



}

@media screen and (max-width: 1499px) {
html {font-size: 90%;}

.title {height: auto;}

#lnb {padding-top: 10px;}

.main_banner div:first-child {width: 49vw;}
.main_banner div:first-child > img {float: left; width: inherit; height: 65vh;}
.main_banner div:nth-child(2) {width: 49vw; padding: 0 0 0 2vw; height: 65vh;}

.thi_ban_02 ul {width: 75%;}
.thi_ban_02 ul li {width: 20%;}

.fourth_banner .four_ban_content {width: 75vw;}

.fourth_banner > div > div > div {width: 290px;}


.fourth_banner .fb_01 {width: 18vw;}
.fourth_banner .fb_03 {width: 21vw;}

.fb_01 h2 {padding: 15px 0 10px 15px;}
.fb_01 p {padding: 10px 0 25px 15px;}

.fourth_banner .fb_02 {width: 30vw; margin: 0 2vw;}
.fourth_banner .fb_02 img {width: inherit; height: inherit;}
.fb_03 > em {font-size: 1rem; margin: 30px 0 0 55px;}


}

@media screen and (max-width: 1360px) {

.fourth_banner .four_ban_content {width: 90vw;}
.fourth_banner .fb_01 {width: 27vw;}
.fourth_banner .fb_02 {width: 30vw;}
.fourth_banner .fb_03 {width: 27vw;}

}

@media screen and (max-width: 1280px) {

html {font-size: 87.5%;}

header {padding-bottom: 42.5px;}
#lnb ul li > a {padding: 0 25px;}

.third_banner {width: 100vw;}
.third_banner > div {}
.third_banner .thi_ban_01 {width: 23vw; background: #fff url(../common/pc/mid_banner_bg.png) no-repeat right;}
.third_banner .thi_ban_02 {width: 76vw;}
.fb_03 > em {padding-bottom: 22px;}
.cont_01_img ul li {font-size: 1.2rem;}

}

@media screen and (max-width: 1100px) {

.fourth_banner .four_ban_content {width: 98vw;}
.fourth_banner .fb_01 {width: 30vw;}
.fourth_banner .fb_02 {width: 34vw; margin-top: 40px;}
.fourth_banner .fb_03 {width: 30vw;}
.fb_03 > em {padding-bottom: 5px;}



@media screen and (max-width: 1024px) {
html {font-size: 85%;}

.fourth_banner .four_ban_content {margin: 100px auto;}
.fourth_banner .fb_01 {width: 50%;}
.fourth_banner .fb_02 {display: none;}
.fourth_banner .fb_03 {width: 50%; text-align: center;}


}

@media screen and (max-width: 960px) {
html {font-size: 82.5%;}

.main_banner > div {float: none;}
.main_banner div:first-child {width: 100vw;}
.main_banner div:nth-child(2) {display: none;}
.main_banner div:first-child > img {width: auto; float: none; margin: 0 auto;}

.second_banner img {width: 95vw;}

.content01 .cont_01_img {width: 97vw;}

.cont_01_img ul {width: 30vw;}
.cont_01_img ul:nth-child(2) {margin: 0 3vw;}


.fourth_banner .four_ban_content {position: relative; height: 114vh;}
.fourth_banner > div > div {float: none;}
.fourth_banner .fb_01 {width: 30vw; position: absolute; top: 0; left: 0; z-index: 1;}
.fourth_banner .fb_02 {width: 70vw; display: block; position: absolute; top: -10%; left: 9%;}
.fourth_banner .fb_03 {width: 30vw; position: absolute; top: 0; left: 69%;}

.statistics .stat_cont {width: 100vw; box-sizing: border-box; padding: 10px;}
.stat_cont ul {width: 30vw;}

.interview .inter_cont {width: 100vw;}
.inter_cont ul:nth-child(1) {width: 27vw;}
.inter_cont ul:nth-child(2) {width: 27vw; margin: 0 5vw;}
.inter_cont ul:nth-child(3) {width: 33vw;}

.icon_box a:first-child {margin-left: 4vw;}
.icon_box a:nth-child(2) {margin: 0 7vw 0 10vw;}

.partner ul {width: 100vw;}

#ft_lnb {width: 100vw;}
#ft_lnb ul {width: 22.5vw;}
.copyright {width: 100vw;}

}

@media screen and (max-width: 950px) {

.partner ul li {display: block; padding: 0; margin: 5vh 0;}
.fourth_banner .fb_03 {left: 65%;}
}


@media screen and (max-width: 906px) {

.inter_cont ul {float: none; text-align: center;}
.inter_cont ul:nth-child(1) {width: 70vw; margin: 0 auto;}
.inter_cont ul:nth-child(2) {width: 70vw; margin: 8vh auto;}
.inter_cont ul:nth-child(3) {width: 70vw; margin: 0 auto;}

.icon_box {float: none; text-align: center;}
.icon_box a:first-child {margin-left: 2vw;}
.icon_box a:nth-child(2) {margin: 0 5vw;}
.icon_box a:nth-child(3) {margin-right: 2vw;}
.fourth_banner .fb_03 {left: 61%;}

}

@media screen and (max-width: 816px) {

.stat_cont ul {width: 97vw; float: none; margin: 0 auto;}
.stat_cont ul:nth-child(2) {margin: 8vh 0;}
.inter_cont ul li h2 {font-size: 1.8rem;}
.inter_cont ul li p {font-size: 1.2rem;}


}


@media screen and (max-width: 768px) {
html {font-size: 80%;}


header {padding-bottom: 20px;}

.respon_toggle {position: relative;}
.respon_toggle label {display: block; font-size: 4rem; color: #fff; margin: 0 auto; position: absolute; top: 5%; right: 5%;
cursor: pointer;}

.respon_toggle input:checked ~ #lnb ul {visibility: visible; opacity: 1; max-height: 330px;}

#lnb {overflow: visible; padding: 30px 0;}
#lnb h1 {width: 30vw; float: none;}
#lnb ul {width: 100vw; float: none; visibility: hidden; opacity: 0; max-height: 0; transition: .5s ease; text-align: center;
background: #83dcff;}

#lnb ul li {display: block; width: inherit; box-sizing: border-box; border-bottom: 1px solid #fff;}
#lnb ul li > a {font-size: 1.6rem; padding: 0; font-weight: bold;}

#lnb h1 > a {padding-left: 10px;}

.main_banner {overflow: visible;}
.main_banner div:first-child {position: relative; padding-top: 300px; z-index: -1;}
.main_banner div:first-child > h1 {display: block; position: absolute; top: 10%; left: 26%; font-size: 2.5rem; color: #fff;
line-height: 1.2; text-align: center;}
.main_banner div:first-child > a {display: block; position: absolute; top: 28%; right: 33%; width: 260px; height: 60px;
background: #002432; line-height: 60px; text-align: center; color: #fff; font-size: 1.5rem; letter-spacing: 2px;}

.content01 {margin: 20px auto;}
.content01 > p {padding-bottom: 30px;}
.cont_01_img ul {width: 95vw; float: none;}
.cont_01_img ul li {font-size: 1rem;}
.cont_01_img ul li a img {display: inline-block;}
.cont_01_img ul:nth-child(2) {margin: 5vh 0;}

.second_banner h1 {padding: 20px 0 30px;}
.second_banner img {margin: 100px auto; width: 70vw;}

.fourth_banner .four_ban_content {padding-bottom: 545px;}
.third_banner > div {display: block;}
.third_banner .thi_ban_01 {background: #fff url(../img/mid_banner_bg_01.png) no-repeat center; width: 100vw;}
.third_banner .thi_ban_02 {width: 100vw; background-position: center bottom;}

.fourth_banner .fb_01 {width: 95vw; top: 38%; left: 2%;}
.fourth_banner .fb_02 {width: 49vw; top: 0; left: 25%; background: #fff url(../common/tablet/shop_img.png) no-repeat center; padding-bottom: 372px; background-size: cover; margin: 0 auto;}
.fourth_banner .fb_02 > img {display: none;}

.fourth_banner .fb_03 {width: 95vw; top: 69%; left: 2%;}
.fb_03 > em {float: none; margin: 23px auto;}


.fourth_banner > h1 {padding: 20px 0 30px;}

.interview > h1 {padding: 20px 0 30px;}
.interview .inter_cont {padding-bottom: 20px;}
.inter_cont ul li h2 {padding-top: 20px; font-size: 2rem;}
.inter_cont ul li p {font-size: 1.2rem;}

.icon_box {display: none;}

.login > h1 {padding: 20px 0 30px;}

.nv_lg {margin-top: 30px;}

.login > p {padding: 30px 0 40px;}

.statistics > h1 {padding: 20px 0 30px;}
.statistics > em {margin-bottom: 30px;}

.stat_cont ul li p {padding-bottom: 0;}

.partner > h1 {padding: 20px 0 30px;}

.statistics .stat_cont {margin-bottom: 20px;}

.partner ul {overflow: hidden;}
.partner ul li {width: 50vw; float: left; text-align: center; height: 120px; line-height: 120px;}

.partner ul li img {display: inline; vertical-align: bottom;}



}

@media screen and (max-width: 767px) {

.cont_01_img ul {width: 95vw; float: none; text-align: center;}
.cont_01_img ul li h2 {padding-top: 20px;}
.cont_01_img ul li a img {display: inline-block;}

.cont_01_img ul:nth-child(2) {margin: 0;}
.cont_01_img ul li:last-child {padding: 10px 0 20px;}

@media screen and (max-width: 734px) {

}


}

@media screen and (max-width: 640px) {
html {font-size: 78.5%;}

.main_banner {display: none;}
.second_banner {display: none;}
.fourth_banner {border-top: 2px solid #999;}
.interview {display: none;}
.partner {display: none;}

#lnb ul li > a {line-height: 55px;}

}

@media screen and (max-width: 599px) {


#ft_lnb {width: 97vw;}
#ft_lnb ul:first-child {margin-left: 10px;}
#ft_lnb ul:nth-child(2) {margin: 0 10px;}
#ft_lnb ul:nth-child(3) {margin-right: 10px;}
}

@media screen and (max-width: 585px) {

input {width: 90vw;}
.line {width: 100vw;}
.fifth_banner a {width: 90vw;}
}


@media screen and (max-width: 572px) {

.fourth_banner > div > div > div {width: 80%;}
.fb_03 > div > h3 {display: none;}
.fb_03 > div > p {display: none;}
.fb_03 > div > a {float: none; margin: 0 auto; text-align: center;}
.fb_03 > div > a > img {display: inline-block;}

.fifth_banner h1 {font-size: 2rem;}
.statistics > h1 {font-size: 2rem;}



#ft_lnb ul {width: 20.5vw;}
#ft_lnb ul li a > h1 {font-size: 1.2rem;}
#ft_lnb ul li a {font-size: 1rem;}
.copyright {width: 97vw;}
.copyright p {font-size: 1rem;}

}



@media screen and (max-width: 480px) {

.main_banner {display: block;}
.cont_01_img ul li {font-size: 1.5rem;}

.main_banner div:first-child > h1 {left: 14%;}
.main_banner div:first-child > a {left: 23%;}

.content01 > h1 {padding: 50px 0; line-height: 1.2;}
.second_banner {display: block;}

.thi_ban_02 ul {width: 90%;}
.thi_ban_02 ul li a span {font-size: 10px;}
.fourth_banner {border-top: 2px solid #999;}
.fourth_banner .fb_01 {top: 40%;}
.fourth_banner .fb_02 {width: 97vw; padding-bottom: 470px; left: 1%;}
.fb_03 > div > a {float: left;}
.fb_03 > div > h3 {display: block;}
.fb_03 > div > p {display: block;}


.login {display: block;}

.interview {display: block;}
.inter_cont ul:nth-of-type(3) li h2 {font-size: 1.8rem}

.partner {display: block;}
.partner > em {font-size: 1.2rem; margin: 0;}
.partner ul li {width: 95vw; float: none;}



#ft_lnb {margin: 100px auto 80px;}
#ft_lnb ul {width: 95vw; float: none;}
#ft_lnb ul:first-child {margin: 0 auto 60px;}
#ft_lnb ul:nth-child(2) {margin: 60px auto;}
#ft_lnb ul:nth-child(3) {margin: 0 auto 60px;}
#ft_lnb ul li {padding: 5px 0;}

#ft_lnb ul li a > h1 {font-size: 2rem;}
#ft_lnb ul li a {font-size: 1.5rem;}

}

















