@charset "utf-8";



/* 1.041666666666667%

.cols-1 {width: 6.25%;}
.cols-2 {width: 14.58333333333333%;}
.cols-3 {width: 22.91666666666667%;}
.cols-4 {width: 31.25%;}
.cols-5 {width: 39.58333333333333%;}
.cols-6 {width: 47.91666666666667%;}
.cols-7 {width: 56.25%;}
.cols-8 {width: 64.58333333333333%;}
.cols-9 {width: 72.91666666666667%;}
.cols-10 {width: 81.25%;}
.cols-11 {width: 89.58333333333333%;}
.cols-12 {width: 97.91666666666667%;} */


/* font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'EB Garamond', serif; */

/* http://fontello.com/ */

/* local font */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?18843764');
  src: url('../fonts/fontello.eot?18843764#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?18843764') format('woff2'),
       url('../fonts/fontello.woff?18843764') format('woff'),
       url('../fonts/fontello.ttf?18843764') format('truetype'),
       url('../fonts/fontello.svg?18843764#fontello') format('svg');
  font-weight: normal;
	font-style: normal; }

/* .icon-down-open .icon-down-open-1 .icon-menu */

body {background: #ece7e3; font-family: 'Montserrat', sans-serif; font-size: 14px; letter-spacing: 1px; line-height: 1.5em;}

*{box-sizing: border-box;}

#header {width: 100%;}
.logo {width: 100%; text-align: center; padding: 80px 0;}
.logo img {max-width: 100%; border: 0;}

.nav {width: 80%; margin: 0 auto;}

/* input label */

#btn-menu {display: none;}
.nav label {font-size: 36px; cursor: pointer; color: #333; display: none;}

.menu > ul {background: #ece7e3; width: 100%; text-align: center;}
.menu ul ul {display: none;}

.menu > ul > li {display: inline-block; margin: 0 15px; position: relative;}

.menu a {color: #666; padding: 15px 30px; font-size: 16px; transition: .5s ease; display: block;}
.menu a:hover {background: rgba(172, 163, 156, 0.3);}

.menu a span {font-weight: 100; margin-left: 10px;}
.menu ul li:hover ul {display: block; position: absolute;}


#section {padding: 80px 0; width: 70%; margin: 0px auto;}
.main-ban {width: 62.291666666666667%; margin: 0 auto 80px;} /* img size의 960grid 퍼센트 */
.main-ban img {max-width: 100%; border: 0; display: block; margin: 0 auto;}
.sec-info, .sec-info-cont {width: 100%;}
.sec-info-cont {overflow: hidden;}

.sec-info-cont li {float: left; border-top: 1px solid #cebfb3;}

.sec-info-cont li.let-cont {width: 20%; text-align: center;}
.sec-info-cont li.let-cont h3 {color: #503321; padding-top: 20px; font-size: 20px; font-weight: bold;}
.sec-info-cont li.rig-cont {width: 80%; padding: 20px 0;}
.sec-info-cont li.rig-cont p {color: #503321;}

.list-cont:before {width: 100%; background: #cebfb3; height: 1px; content: ""; margin: 10px auto 100px; display: block;}

.list-cont {}

.list-pro {width: 100%; overflow: hidden;}
.list-pro li {float: left; width: 32%; text-align: center; background: #fffef2;}
.list-pro li img {max-width: 100%; display: inline-block;}
.list-pro li:nth-child(2) {margin: 0 2%;}

.list-pro li .mid-block {width: 100%; background: #745d50;}
.list-pro li .mid-block p {padding: 30px;}
.list-pro li .mid-block p span {display: block; color: #fff; text-align: left;}
.list-pro li .bot-block {width: 100%; background: #2a302e;}
.list-pro li .bot-block p {color: #fff; padding: 30px;}

.content1, .content2 {margin: 100px auto 50px;}
.content1 h4, .content2 h4 {text-align: center; color: #503321; font-size: 36px; font-weight: 100; margin-bottom: 80px;}
.content1 > p:nth-of-type(1) {margin-bottom: 15px;}


.content1 > p, .content2 > p {color: #503321;}

#footer {width: 100%; text-align: center; padding: 30px 0; background: #2a302e;}
#footer address {color: #fff; font-style: italic;}




@media screen and (min-width: 1025px) {

	
}

@media screen and (max-width: 1024px) {
	
	#section {width: 90%; transition: .5s ease;}
	.menu > ul > li {margin: 0 5px;}
	.menu a {padding: 13px 17px;}

	.main-ban img {max-width: 70%;}
	.sec-info-cont li.let-cont h3 {font-size: 18px; text-align: left;}
}

@media screen and (max-width: 768px) {
	#header {width: 96%; margin: 0 auto; padding-top: 20px;}
	
	.logo {padding: 0; width: 20%; float: left; margin: 0;}
	.logo img {max-width: 80%; border: 0;}
	.nav {width: auto; margin: 0; /*overflow:hidden의 역할, width 조정으로 보이지 않는 요소 혹은 가지 못하는 요소를 갈수 있게*/}
	
	.menu {position: absolute; top: 50px; left: 0; width: 100%; display: none;}
	

	.nav label {display: block; float: right;}
	
	.menu ul {display: block;}
	
	.menu > ul > li {display: block; margin: 0; position: static; /* position attribute default value */}
	
	.menu ul li:hover ul {display: block; position: static;}
	
	#section {width: 90%;}
	.sec-info, .sec-info-cont {width: 100%;}
	.sec-info-cont li {float: none;}
	
	.sec-info-cont li.let-cont {width: 100%;}
	.sec-info-cont li.let-cont h3 {padding-bottom: 20px; text-align: center;}
	.sec-info-cont li.rig-cont {width: 100%;}
	
	.list-pro {width: 100%;}	
	.list-pro li {float: none; width: 100%;}
	
	.list-pro li:nth-child(2) {margin: 0; }
	
	.list-pro li:nth-child(1), .list-pro li:nth-child(2) {margin-bottom: 20px;}
	
	.list-pro li .mid-block p span {display: inline-block;}
	
	#btn-menu:checked ~ .menu {display: block;}
	
	
}


@media screen and (max-width: 480px) {



}

























