@font-face {
  font-family: "future-fixed";
  src: url(../../fonts/FUTRFW.ttf) format('truetype');
}

.mainNav {
  height: 80px;
  padding: 0;
  transition: linear .1s;
  padding: 0;
  background: #ffffff;
  .mainNav_container {
    position: relative;
    padding: 0 20px;
    .mainNav_brand {
      h5 {
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }
}

.mainNav_menu {
  > li.nav-dropdown {
    position: relative;
    padding: 0;
    margin: 0 3rem 0 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover .dropdown-menu {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    > a.nav-link {
      font-family: 'Heebo', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #141414;
      transition: linear .1s;
      padding: 0 1rem 0 0;
      line-height: 80px;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #141414;
        transition: linear .1s;
      }

      &:before {
        right: 0;
        width: 10px;
        height: 1px;
      }
      &:after {
        right: 4px;
        width: 1px;
        height: 10px;
      }

      &:hover {
        color: #646464;
      }

      &:hover:after, &:hover:before {
        background: #646464;
      }

      &:hover:after {
        transform: rotate(-90deg);
        top: 44%;
      }
    }
    > ul.dropdown-menu {
      transform: translateY(4px);
      display: block;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
      margin: 0;
      transition: linear .1s;
      position: absolute;
      top: 80px;
      left: -30px;
      min-width: 220px;
      border: none;
      border-radius: 0;
      padding: 25px 0;
      > li {
        position: relative;
        padding: 5px 30px;
        > a {
          font-family: 'Heebo', sans-serif;
          font-size: 1rem;
          text-transform: uppercase;
          color: #141414;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@mixin widthHeight($width, $height) {
  width: percentage($width) / 100;
  height: percentage($height) / 100;
}

section {
  @include widthHeight(100, 100);
  transition: .6s ease;
  position: relative;

  article {
    transition: .6s ease;
    padding: 100px 15px;
    position: relative;
    z-index: 3;
  }
}

#section1 {
  @include widthHeight(100, 100);
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #0d8dd7 100%);
}

@mixin hexagon($size, $bg) {
  position: relative;
  width: $size;
  height: $size / 1.76;
  background-color: $bg;
  margin: ($size / 3.6) 0;
  border-color: $bg;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: $size / 2 solid transparent;
    border-right: $size / 2 solid transparent;
  }
  &:before {
    bottom: 100%;
    border-bottom: $size / 3.5 solid $bg;
  }
  &:after {
    top: 100%;
    width: 0;
    border-top: $size / 3.5 solid $bg;
  }
}

@mixin hex_container($pos, $alpha, $deg) {
  position: $pos;
  opacity: $alpha;
  transform: rotate($deg);
}

.background_desc {
  position: absolute;
  @include widthHeight(100, 100);
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;

  .mobil {
    position: absolute;
    border-radius: 12px;
  }

  .rec1 {
    background: rgb(116, 192, 227);
    top: -5%;
    left: 0;
    width: 600px;
    height: 600px;
  }
  .rec2 {
    background: #242938;
    width: 75px;
    height: 75px;
    top: 35%;
    right: 31%;
  }

  .rec3 {
    background: rgb(116, 192, 227);
    width: 450px;
    height: 450px;
    top: 30%;
    right: -5%;
  }

  .rec4 {
    background: #242938;
    width: 500px;
    height: 500px;
    bottom: 35%;
    right: 13%;
  }

  .rec5 {
    background: #73e5ff;
    width: 300px;
    height: 300px;
    bottom: 20%;
    left: 5%;
  }

  .rec6 {
    background: #fff;
    width: 180px;
    height: 180px;
    bottom: 50%;
    right: 11.5%;
  }

  .bg_line_row {
    position: absolute;
    top: 0;
    left: 0;
    @include widthHeight(100, 100);
    z-index: -1;

    .line {
      border-left: 1px solid rgba(20, 20, 20, 0.1);
      height: 100%;
    }
  }

  .hexa1 {
    @include hexagon(200px, #d8dae5);
  }
  .hexa_container1 {
    @include hex_container(absolute, 0.5, 10deg);
    top: 15%;
    right: 10%;
  }

  .hexa2 {
    @include hexagon(300px, #0d8dd7);
  }

  .hexa_container2 {
    @include hex_container(absolute, 1, 79deg);
    top: 33%;
    left: 11%;
  }
}

#design {
  @include widthHeight(100, 100);
}

.design_row {

  &:nth-child(1) { //design 1
    .mainImg {
      .local_img {
        max-width: 100%;
        margin: 0 auto;
      }
      &:nth-child(1) {

      }
      &:nth-child(2) {
        .local_img {
          width: 100%;
        }
      }
    }

    .mainImg1 {
      border-color: #74c0e3;
    }
    .mainImg2 {
      border-image: linear-gradient(to right, rgb(115, 192, 227) 25%, rgb(255, 255, 255) 100%);
      border-image-slice: 1;
    }
    .terminal_wrap {
      .terminal {
        margin: 0 auto;
        padding: 10px;
        width: 95%;
        box-sizing: border-box;
        background: #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .terminal_button {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          border: 1px solid transparent;
          position: relative;
          top: 0;
          left: 6px;
          background-color: #ff3b47;
          display: inline-block;
          cursor: pointer;

          &.minimize_button {
            left: 11px;
            background-color: #ffc100;
          }

          &.maximize_button {
            left: 16px;
            background: #00d742;
          }

          span {
            display: inline-block;
            position: relative;
            top: -3px;
            left: 3px;
            opacity: 0;
            visibility: hidden;
            transition: .3s linear;
            color: #555;
          }
          &.close_button span {
            top: 0;
            left: 6px;
          }

          &:hover span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .terminal_screen {
        background: #222;
        box-sizing: border-box;
        width: 95%;
        padding: 20px;
        margin: 0 auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        p {
          font-family: NanumGothicCoding, monospace;
          position: relative;
          margin-left: 1rem;
          font-size: 1.3rem;
          overflow: hidden;
          width: 0;
          margin-bottom: 0;
          white-space: nowrap;
          color: #ffffff;
        }

        $line_animation_speed: 1, 4.25, 7.5, 10.75, 14, 16.25;
        $line_easing: steps(20, end) forwards;
        $cursor_easing: 2 forwards;

        @for $j from 1 through 6 {
          $line_seconds: nth($line_animation_speed, $j);
          p:nth-child(#{$j}) {
            animation: typing .5s $line_seconds*1s $line_easing;

            span.cursor {
              $cursor_seconds: $line_seconds+1s;
              animation: blinking 1s $cursor_seconds $cursor_easing;
            }
          }
        }

        span {
          color: #ffffff;
          font-weight: bold;
        }
        .last_cursor {
          animation: blinking 1s 15s infinite !important;
          padding-left: 5px;
        }
      }
    }
  }

  /* animation typing and blinking*/

  @keyframes blinking {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes typing {
    to {
      width: 100%;
    }
  }

  &:nth-child(2) { //design 2
    padding: 150px 0;
    position: relative;

    .mainImg {

      &:nth-child(1) { // erol

        img {
          border: 10px solid #fff;
          border-image: linear-gradient(to bottom, rgb(208, 229, 247) 25%, #ffffff 100%);
          border-image-slice: 1;
        }
      }

      &:nth-child(2) { // hyba

        img {
          border: 10px solid #fff;
          border-image: linear-gradient(to top, rgb(174, 212, 240) 30%, rgb(208, 229, 247) 100%);
          border-image-slice: 1;
        }

      }

      &:nth-child(3) { // kong
        img:nth-child(1) {

          background: #74c0e3;

        }
        img:nth-child(2) { // hybalogo
          max-width: 336px;
          max-height: 126px;
          background: #ffffff;
          margin-top: 50px;
          border-radius: 15px;
          border: 15px solid #fff;
          transition: .5s ease;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
      }

    }
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }

    #hyba {
      position: relative;

      img {
        cursor: pointer;
        min-width: 500px;

        &:nth-child(1) {

        }

        &:nth-child(2) {
          position: absolute;
          top: 0px;
          left: 20px;
          width: 500px;
          border-color: transparent;
        }
      }

    }
  }

  .design_row_door {
    position: absolute;
    top: 0;
    left: -30px;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    box-sizing: content-box;

    .door_bell {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 7;
      border-radius: 15px;
      max-width: 362px;

      &:hover img {
        filter: grayscale(0%);
      }

      img {
        box-sizing: content-box;
        float: left;
        display: inline-block;
        max-width: 166px;
        border: 15px solid #fff;
        transition: .5s ease;
        filter: grayscale(100%);
        max-height: 116px;

        &.door_img_right {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-left: 0;
        }
        &.door_img_left {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          border-right: 0;
        }
      }
    }

    .display_none {
      display: none;
    }

    .panel {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to bottom, rgb(218, 235, 248) 0%, rgb(147, 197, 235) 100%);
      z-index: 6;
      visibility: visible;
      transition: transform .6s ease-in-out, opacity 0.8s 0.61s ease-out;

      &.left {
        left: 0;
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          content: "";
          border-right: 176px solid rgba(255, 255, 255, 1);
          height: 136px;
          width: 0;
        }
      }
      &.right {
        right: 0;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          content: '';
          border-left: 176px solid rgba(255, 255, 255, 1);
          height: 136px;
          width: 0;
        }
      }
    }
  }

  .open_panel {
    opacity: 0.2;
    transition: transform .6s ease-in-out, opacity 0s 0.61s ease-out !important;

    &.left {
      transform: translate3d(-100%, 0, 0);
    }
    &.right {
      transform: translate3d(100%, 0, 0);
    }

    &.door_img_left {
      float: none;
      transform: translate3d(-500%, 0, 0);
    }
    &.door_img_right {
      float: none;
      transform: translate3d(500%, 0, 0);
    }
  }

  &:nth-child(3) { // design 3
    @include widthHeight(100, 100);
    padding: 150px 0;

    > .mainImg {
      height: 100%;

      img {
        display: block;
        @include widthHeight(50, 50);
        margin: 0 auto;
        border: 20px solid #d8dae5;
        cursor: pointer;
        border-image: linear-gradient(to top, #ffffff 25%, rgb(45, 150, 218) 100%);
        border-image-slice: 1;
      }
    }
    > .col-4 > ul {
      margin-top: 300px;
      margin-bottom: 0;
      overflow: hidden;
      background: rgba(230, 174, 88, 0.71);
      padding: 15px;
      opacity: 0;
      visibility: hidden;
      transition: .7s ease;

      > li {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
        transition: 1s ease;

        img {
          @include widthHeight(80, 100);
          display: block;
          margin: 0 auto;
          border: 10px solid #c0a16b;

        }
      }
    }
  }
}

.mainImg_wide { // img_wide
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 998;
  transition: .2s ease;

  .circleContainer {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 200px;

    > button:focus {
      outline: none;
    }
    > button.circle {
      width: 40px;
      height: 40px;
      background: transparent;
      border: 4px solid #fff;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      display: inline-block;
      transition: .3s ease;

      &:after {
        width: 24px;
        height: 4px;
        background: #ffffff;
        content: "";
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -2px;
        position: absolute;
        transform: rotate(-45deg);
      }
      &:before {
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -2px;
        width: 24px;
        height: 4px;
        background: #fff;
        content: '';
        position: absolute;
        transform: rotate(45deg);
      }
      &:hover {
        border-color: #0d8dd7;
      }
      &:hover:after {
        border-color: #0d8dd7;
        background: #0d8dd7;
      }
      &:hover:before {
        border-color: #0d8dd7;
        background: #0d8dd7;
      }
    }
  }

  .scaleDown {
    transition: .3s ease-in-out;
    transform: scale(0);
  }

  .wide_img_wrap {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
  }

  &.bouquet_wide {
    display: none;

    .wide_img_wrap {

      img {
        width: 100%;
        height: 100%;
        transition: .2s linear;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &.desert_wide {
    display: none;

    .wide_img_wrap {

      top: 25%;
      left: 5%;
      transform: translate(0, 0);

    }
    .desert_resource {

      position: absolute;
      top: 20%;
      width: 50%;
      right: 5%;

      .row.desc {
        padding-top: 7px;
        background: rgba(255, 248, 42, 0.23);
        margin: 15px 15px 0 15px;
        opacity: 0;
        border-radius: 15px;

        div.col-3 {
          padding: 0 0 7px 0;

          @for $i from 1 through 11 {
            $desert_transition_sec: 2, 1.5, 3, 2.2, 1.9, 2.9, 3, 1.2, 2.1, 1.6, 2.5;
            $desert_transition: nth($desert_transition_sec, $i);

            &:nth-child(#{$i}) {
              transition: $desert_transition*1s ease;
            }
          }
          img {
            width: 90%;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            border-radius: 15px;
          }
        }

      }
    }
  }

  &.index2_wide {

    display: none;

    .wide_img_wrap {
      top: 2.5%;
      left: 10%;
      width: 50%;
      height: 95%;
      transform: translate(0, 0);

      img {
        max-width: 50%;
        max-height: 100%;
      }
    }

    .wide_img_desc {
      display: inline-block;
      position: absolute;
      top: 70%;
      left: 35%;
      h4 {
        color: #ffffff;
        font-family: NanumGothicCoding, monospace;
        margin-bottom: 5px;
      }
      span {
        color: #ffffff;
        font-family: NanumGothicCoding, monospace;
      }
    }
    .index_wide_wrap {
      width: 30%;
      position: absolute;
      top: 25%;
      right: 10%;
      max-height: 100%;
      background: rgba(255, 255, 255, 1);

      li {
        display: inline-block;
        float: left;
        width: 33%;
        padding: 0 10px;

        img {
          display: block;
          margin: 10px auto;
          max-width: 100%;
          max-height: 50%;
        }
      }

    }
  }
}

$index2_img_speed: 1, 3, 2, 1.2, 1, 6, 2.5, 2.3, 3.5;

@for $i from 1 through 8 {

  $index2_img_transition: nth($index2_img_speed, $i);

  .index_wide_wrap li:nth-child(#{$i}) {
    transition: $index2_img_transition*1s ease;
  }
}

.mainImg img.local_img {
  $borderColor: rgb(255, 229, 184);
  border: 30px solid $borderColor;
  cursor: pointer;
  display: block;
  transition: border .6s ease;
}

#design {
  position: relative;
}

.design_desc1 {
  position: absolute;
  top: 100px;
  right: 5vw;
  width: 500px;
  height: 300px;
  background: #FF9600;
}

/* sakura */

.design_desc2 {
  position: absolute;
  top: 800px;
  left: 50px;
  background: rgb(209, 222, 255);
  width: 600px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;

  #petals {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 4px 6px 5px 1px rgba(62, 197, 207, 1);
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

#section2 {
  @include widthHeight(100, 100);
  background: linear-gradient(to bottom, #7acfe4 0%, #ffffff 100%);
}

#portfolio {
  padding: 0 0 100px 0;

  .portfolio_banner_wrap {
    position: relative;
    overflow: hidden;
    height: 500px;
  }

  .portfolio_banner {
    background: url("../../img/portfolio/banner/seagull.png") no-repeat;
    background-position: top center;
    background-size: cover;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;

    h2 {
      font-size: 5vmin;
      font-family: 'future-fixed', sans-serif;
      margin-bottom: 0;
      letter-spacing: 0px;

      i {
        font-size: 1rem;
        vertical-align: text-top;
      }

      span {
        display: inline-block;
        margin-top: 20px;
        color: #ffffff;
        font-weight: bold;
        font-family: 'future-fixed', sans-serif;
        letter-spacing: 0px;
      }
    }

    p {
      font-family: "Crimson Text", serif;
      color: #ffffff;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.banner_title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}

.portfolio_container {
  text-align: center;

  h3 {
    font-family: 'future-fixed', sans-serif;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 0;
    font-size: 3vmin;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    display: inline-block;

    span {
      font-family: 'future-fixed', sans-serif;
    }
  }
}

.portfolio_grid_row {
  padding-top: 50px;
  margin-right: 0;
  margin-left: 0;

  > div {
    text-align: center;
    a:not(.site_link) {
      display: block;
      max-width: 100%;
      float: left;
      margin-top: 80px;
      margin-left: 5vw;
      img {
        max-width: 100%;
        max-height: 950px;
        cursor: pointer;
        border: 5px solid #fff;
      }
    }
    button {
      float: left;
      margin-top: 80px;
      margin-left: 2vw;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
      padding: 3px 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.detailImg {
  position: relative;

  img {
    position: absolute;
    filter: drop-shadow(8px 8px 10px gray);
    transition: .2s ease-in-out;

    &:nth-child(1) {
      top: 2vh;
      left: 1vw;
    }
    &:nth-child(2) {
      bottom: 6vh;
      right: 2vw;
    }

    &:nth-child(3) {
      top: 50%;
      left: 50%;
    }

    &:hover {
      filter: none;
    }
  }

  .site_link {
    font-family: NanumGothicCoding, monospace;
    position: absolute;
    display: block;
    bottom: 0;
    background: #ffffff;
    padding: 5px 8px;
    font-size: 1.2rem;
    left: 0;
    border-radius: 8px;
    transform-style: flat;
    transition: .25s ease-out;

    &:after,
    &:before {
      content: '';
      position: absolute;
      z-index: -2;
      transition: .25s ease-out;
    }
  }
}

.aesopDetail {
  opacity: 0.2;
  transition: .3s linear;
  z-index: -1;
}

.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

.paper-curl-right {
  &:before {
    display: none;
  }
  &:hover {
    border-radius: 8px 8px 60% 8px / 8px 8px 50% 8px;
  }
}

.detail_desc {

  position: absolute;
  bottom: 200px;
  left: 50px;

  h4 {
    font-size: 1.8rem;
    text-align: left;

    span {
      font-family: 'Work Sans', sans-serif;
    }

  }

  > span {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    display: block;
  }

}

.bubbleContainer {
  position: absolute;
  top: 0;
  @include widthHeight(100, 100);
  z-index: -1000;
  overflow: hidden;
  left: 0;
}

.bubble {
  background-color: #0000ff;
  border-radius: 75px;
  height: 150px;
  position: absolute;
  top: 100%;
  width: 150px;
  animation: bubbleMove 10s linear infinite;
  user-select: none;
  transition: 6s ease;
}

@keyframes bubbleMove {
  from {
    top: 100%;
  }
  to {
    top: -1200px;
  }
}

.flow_text:hover {
  $steps: 25;
  $durations: 55;
  $element_animation: span;
  $element_count: 100;
  $delay_letters: 0.1;

  #{$element_animation} {
    animation-name: flow_text_keys;
    animation-duration: #{$durations}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  @keyframes flow_text_keys {
    @for $i from 0 through $steps {
      #{percentage($i * (1/$steps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  $totalDelay: $element_count * $delay_letters;

  @for $i from 1 through $element_count {
    #{$element_animation}:nth-child(#{$i}) {
      animation-delay: #{($i * $delay_letters) - $totalDelay}s;
    }
  }
}

#beWhite {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  display: none;
}

.fullImg.hansol {
  a {
    float: right;
    margin-right: 6vw;

    img {
      @include widthHeight(100, 100);
    }
  }
  button.hansol_btn {
    float: right;
    margin-left: 0;
    margin-right: -3vw;
  }
}

.hansolDetail {
  opacity: 0.3;
  transition: .2s linear;
  z-index: -1;
  img {
    &:nth-child(1) {
      right: 5vw;
      left: auto;
    }
  }
}

@function makeBottomShadow($length, $angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i * $angle}px #aaa;
  }
  @return $val;
}

.animate_text_scss {
  text-align: center;
  font-size: 9vmin;
  font-weight: bold;
  outline: none;
  white-space: nowrap;
  position: absolute;
  top: 32.5%;
  left: 20%;
}

.add_netflix {
  animation: netflix 22.5s infinite;
}

@keyframes netflix {
  0% {
    text-shadow: makeBottomShadow(100, 1);
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makeBottomShadow(100, 1.5);
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
    color: #f3f3f3;
  }
  20% {
    color: #e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color: #e90418;
    transform: scale(0.85, 0.9);
  }
  100% {
    opacity: 0;
  }
}