@charset "utf-8";



/* 1.041666666666667%

.cols-1 {width: 6.25%;}
.cols-2 {width: 14.58333333333333%;}
.cols-3 {width: 22.91666666666667%;}
.cols-4 {width: 31.25%;}
.cols-5 {width: 39.58333333333333%;}
.cols-6 {width: 47.91666666666667%;}
.cols-7 {width: 56.25%;}
.cols-8 {width: 64.58333333333333%;}
.cols-9 {width: 72.91666666666667%;}
.cols-10 {width: 81.25%;}
.cols-11 {width: 89.58333333333333%;}
.cols-12 {width: 97.91666666666667%;} */


/* font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;*/

/* language */

h1:lang(ko), h2:lang(ko), p:lang(ko), span:lang(ko) {font-family: 'Nanum Gothic', sans-serif;}
h1:lang(en), h2:lang(en), p:lang(en), span:lang(en) {font-family: 'Montserrat', sans-serif;}

/* top_btn */

.top_btn {position: fixed; right: 20px; bottom: 20px; background: #ffd400; color: #fff; width: 55px; height: 55px; text-align: center;
line-height: 55px; cursor: pointer; font-size: 27.5px; z-index: 999; display: none;}

/* common --- http://www.comcbt.com/ http://www.designnine.co.kr/---  */

header, section, footer {width: 100%; margin: 0 auto; overflow: hidden;}
html, body {height: auto;}


/* header */

header {position: fixed; top: 0; left: 0; background: transparent; z-index: 10;}
header > a {display: block; float: left;}
header > a > h1 {font-size: 70px; font-weight: bold; letter-spacing: 15px; margin: 20px; transition: .5s ease; padding: 0 10px 0 15px;
text-align: center; border-radius: 15px; font-family: 'Lobster', cursive !important;}
header > a:hover > h1 {background: #fff3c1; color: #ffd400;}

nav {float: right; margin: 45px 20px 0 0;}
nav ul {}
nav ul li {display: inline-block; margin: 0 10px;}
nav ul li:first-child {margin: 0 10px 0 0;}
nav ul li > a {display: block; font-size: 28px; padding: 10px 10px; transition: .6s ease; border-radius: 15px;}
nav ul li > a i {font-size: 24px; padding-left: 5px;}
nav ul li > a:hover {background: #fff3c1; color: #ffd400;}


/* section */

section {height: 100%; background: #ccc;}
section > article {box-sizing: border-box; width: 100%;}

/* main_banner */

.main_banner {background: #fff url(../img/top_bg.png) no-repeat center top; padding: 480px 0; background-size: 100% 1250px;}

.mb_content {width: 70%; overflow: hidden; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.mb_cont_title {margin-top: 100px; width: 40%; float: left; margin-left: 10%;}
.mb_cont_title > h1 {font-size: 100px; line-height: 1.2; font-weight: bold;}
.mb_cont_title > h1 > span {color: #fff; background: #000; padding: 0 10px; font-size: 66px;}

.mb_cont_desc {width: 50%; float: right; margin-top: 120px;}
.mb_cont_desc > h1 {font-size: 42px;}
.mb_cont_desc > h1 > i {font-size: 20px; vertical-align: text-top;}

.mb_cont_desc > h1 .fa-quote-left {padding-right: 10px;}
.mb_cont_desc > h1 .fa-quote-right {padding-left: 10px;}

.mb_cont_desc > p {font-size: 16px;}
.mb_cont_desc > p:nth-of-type(1) {padding: 50px 0;}
.mb_cont_desc > p:nth-of-type(2) {padding-bottom: 50px;}

.mb_cont_desc ul {width: 82%; text-align: left;}
.mb_cont_desc ul li {display: inline-block;}
.mb_cont_desc ul li a {display: block; overflow: hidden; font-size: 12px; margin-left: 10px;}
.mb_cont_desc ul li a i {float: left; margin: 10px 10px 0 0; font-size: 20px;}
.mb_cont_desc ul li a > p {float: left; font-weight: bold; color: #ccc;}
.mb_cont_desc ul li a > p > span {color: #000;}


/* second banner */

.second_banner {background: #83caeb; overflow: hidden;}
.second_banner > div {float: left;}

.sec_ban_left {width: 35%; background: #83caeb url(../img/second_banner.png) no-repeat center bottom; box-sizing: border-box;
	padding: 480px 0;	}
.sec_ban_right {width: 65%; position: relative;}

.sec_ban_right_quote {z-index: 1; width: 100%; height: 100%; top: 0; left: 0; position: relative; padding: 480px 0; opacity: 0.15;}
.sec_ban_right_quote i {font-size: 250px; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.sec_ban_right_desc {z-index: 2; position: absolute; top: 50%; left: 50%; text-align: center; color: #fff; width: 100%;
transform: translate(-50%, -50%);}
.sec_ban_right_desc h1 {font-size: 70px; font-weight: bold;}
.sec_ban_right_desc p {font-size: 16px; padding: 60px 0;}
.sec_ban_right_desc h2 {font-size: 54px;}
.sec_ban_right_desc a {display: block; width: 200px; font-size: 20px; border-bottom: 1px solid #000; overflow: hidden; margin: 60px auto 0;
transition: .6s ease; border-radius: 15px 15px 0 0;}
.sec_ban_right_desc a h3 {width: 80%; float: left; font-size: 24px;}
.sec_ban_right_desc a i {width: 20%; float: left; margin-top: 15px;}

.sec_ban_right_desc a:hover {background: #fff; color: #83caeb; font-weight: bold; border-bottom: 1px solid #fff;}


/* third_banner */

.third_banner {background: #b7facd; position: relative; padding: 500px 0px;}
.thi_wrap {width: 62%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: hidden; height: 100%;}
.thi_ban_left {background: #b7facd url(../img/third_banner.png) no-repeat center; width: 38%; padding: 310px 0; float: left;
	margin: 189px 0 189px 2%; background-size: cover;}
.thi_ban_right {width: 48%; color: #0c5624; float: right; margin: 375px 5% 0 0;}

.thi_ban_right h1 {font-size: 30px; line-height: 1.3;}
.thi_ban_right h1:nth-of-type(1):after {content: ""; display: block; width: 96%; height: 2px; background: #0c5624; margin-top: 10px;}
.thi_ban_right h1:nth-of-type(2):after {content: ""; display: block; width: 85%; height: 2px; background: #0c5624; margin-top: 10px;}
.thi_ban_right h1:nth-of-type(3):after {content: ""; display: block; width: 11%; height: 2px; background: #0c5624; margin-top: 10px;}
.thi_ban_right h2 {font-size: 32px; margin-top: 100px; font-family: 'Lobster', cursive; letter-spacing: 2px;}
.thi_ban_right p {font-size: 16px;}
.third_banner > span {font-size: 14px; position: absolute; top: 82%; left: -5%; transform: rotate(90deg);}

/* fourth_banner */

.fourth_banner {background: #ece6a2; display: table; padding: 450px 0; box-sizing: border-box;}
.fourth_banner > h1 {font-size: 60px; text-align: center; display: table-cell; vertical-align: middle;}
.fourth_banner > span {display: none;}



@media screen and (max-width: 1024px) {

	.main_banner {background-size: cover; background-position: center bottom}
	.mb_content {width: 90%; margin: auto; display: table; text-align: center;}
	.mb_cont_title {display: table-cell; vertical-align: text-top; float: none; width: auto; margin: 0;}
	.mb_cont_desc {display: table-cell; vertical-align: text-top; float: none; width: auto; margin: 0;}
	.mb_cont_title > h1 {font-size: 80px; width: auto;}
	.mb_cont_desc ul {width: auto; text-align: left;}

	.second_banner {display: table;}
	.second_banner > div {float: none; display: table-cell; vertical-align: text-top;}
	.sec_ban_left {width: auto; padding: 0; background-position: center bottom; background-size: cover;}
	.sec_ban_right {width: auto;}
	.sec_ban_right_quote {padding: 445px 0;}
	.sec_ban_right_quote i {font-size: 20rem;}
	.sec_ban_right_desc h1 {font-size: 5rem;}
	.sec_ban_right_desc p {font-size: 1rem; padding: 5rem 1rem;}
	.sec_ban_right_desc h2 {font-size: 1.5rem;}

	.thi_wrap {width: auto; display: table; height: auto;}
	.thi_ban_left {width: 37%; float: none; display: table-cell; margin: 0; padding: 0; height: 100%; vertical-align: text-top;
		background-position: center center; background-size: contain;}
	.thi_ban_right {width: 58%; float: none; display: table-cell; margin: 0 0 0 5%; padding: 0; vertical-align: text-top;}

	.third_banner > span {position: absolute; top: 84%; left: -8%; transform: rotate(90deg);}

}

@media screen and (max-width: 960px) {

	html, body {height: auto;}
	section {height: 100%;}
	article {height: 100%;}

	.mb_content {width: 98%; display: block;}
	.mb_cont_title {display: block; padding-top: 150px;}
	.mb_cont_desc {display: block; padding: 50px 0;}
	.mb_cont_desc ul {display: inline-block;}


	.second_banner {display: block; position: relative; height: 100%;}
	.second_banner > div {display: block;}
	.sec_ban_left {padding: 20% 0;}
	.sec_ban_right {height: auto;}
	.sec_ban_right_quote {height: auto; padding: 0; position: absolute; top: 50%;}
	.sec_ban_right_desc {position: static; transform: translate(0, 0);}
	.sec_ban_right_desc p {padding: 2rem 1rem;}
	.sec_ban_right_desc a {margin: 1rem auto;}

	.third_banner {padding: 445px 0;}
	.third_banner > span {transform: rotate(0deg); top: 92%; left: 70%; font-style: italic;}

	.fourth_banner {padding: 385px 0px;}

}

@media screen and (max-width: 768px) {

	header > a > h1 {margin: 0; line-height: 1.1}
	nav {margin: 8px 20px 0 0;}

	.main_banner {background-size: contain; background-position: center; padding: 435px 0;}

	.sec_ban_right_desc {padding: 65px 0;}
	.sec_ban_right_desc p {padding: 2rem 0; font-size: 0.9rem;}

	.third_banner {padding: 0;}
	.thi_wrap {display: block; width: 100%; position: static; transform: translate(0, 0); z-index: 5;}
	.thi_ban_left {display: block; width: 100%; padding: 230px 0; margin: 20px auto 40px; }
	.thi_ban_right {display: block; width: 100%; text-align: center; margin: 0;}
	.thi_ban_right h1:nth-of-type(1):after {content: ""; display: block; width: 70%; height: 2px; background: #0c5624; margin: 10px auto 0;}
	.thi_ban_right h1:nth-of-type(2):after {content: ""; display: block; width: 60%; height: 2px; background: #0c5624; margin: 10px auto 0;}
	.thi_ban_right h1:nth-of-type(3):after {content: ""; display: block; width: 10%; height: 2px; background: #0c5624; margin: 10px auto 0;}

	.thi_ban_right h2 {margin-top: 20px;}
	.thi_ban_right p {padding-bottom: 20px; line-height: 1.3}
	.third_banner > span {left: 10%; transform: translate(-50%, -50%) rotate(90deg) !important; top: 50%;}

	.fourth_banner {padding: 410px 0;}
	.fourth_banner > h1 {font-size: 3rem;}

}

@media screen and (max-width: 480px) {

	header > a > h1 {font-size: 48px; letter-spacing: 0; margin: 10px 0;}
	nav {margin: 15px 20px 0 0}
	nav ul li > a {font-size: 14px;}
	nav ul li > a i {font-size: 12px;}

	.mb_cont_title {padding-top: 180px;}
	.mb_cont_desc {padding: 30px 0;}
	.mb_cont_desc > h1 {font-size: 30px;}
	.mb_cont_desc > p {font-size: 14px;}
	.mb_cont_desc > p:nth-of-type(1) {padding: 20px 100px;}
	.mb_cont_desc ul {overflow: hidden; width: 100%;}
	.mb_cont_desc ul li {width: 25%; float: left; text-align: center;}
	.mb_cont_desc ul li a {margin: 0;}
	.mb_cont_desc ul li a i {float: none; display: block; margin: 0 auto 10px;}
	.mb_cont_desc ul li a > p {float: none;}

	.sec_ban_right_desc p {display: none;}
	.sec_ban_right_desc h2 {font-size: 1.3rem;}
	.sec_ban_right_desc {padding: 30px 0;}
	.sec_ban_left {padding: 285px 0;}

	.thi_ban_left {margin: 20px auto;}
	.thi_ban_right h1 {font-size: 1.5rem;}
	.thi_ban_right h1:nth-of-type(1):after {content: ""; display: block; width: 89%; height: 2px; background: #0c5624; margin: 3px auto 0;}
	.thi_ban_right h1:nth-of-type(2):after {content: ""; display: block; width: 79%; height: 2px; background: #0c5624; margin: 3px auto 0;}
	.thi_ban_right h1:nth-of-type(3):after {content: ""; display: block; width: 13%; height: 2px; background: #0c5624; margin: 3px auto 0;}
	.third_banner > span {right: 10%;}
	.thi_ban_right p {padding: 0 30px 20px;}

	.fourth_banner {position: relative;}
	.fourth_banner > h1 {display: none;}
	.fourth_banner > span {display: block; position: absolute;}
	.fourth_banner > span > h1 {font-size: 3rem;}

	.h1_480 {top: 20%; left: 5%;}
	.h2_480 {top: 50%; left: 15%;}
	.h3_480 {top: 80%; left: 55%;}

	.third_banner p > span {color: #ff6000; font-weight: bold; letter-spacing: 5px; padding: 5px 0; display: inline-block;
		font-family: 'Lobster', cursive;}


}

@media screen and (max-width: 1441px) {
	.mb_cont_desc ul {width: 100%;}
	.mb_cont_desc ul li a {margin-left: 1px;}

	.sec_ban_right_desc h2 {font-size: 2rem;}

	.thi_ban_right h1 {font-size: 1.5rem;}
	.thi_ban_right h1:nth-of-type(1):after {margin-top: 5px;}
	.thi_ban_right h1:nth-of-type(2) {margin-top: 10px;}
	.thi_ban_right h1:nth-of-type(2):after {margin-top: 5px;}
	.thi_ban_right h1:nth-of-type(3) {margin-top: 10px;}
	.thi_ban_right h1:nth-of-type(3):after {margin-top: 5px;}

	.thi_ban_right p {font-size: 12px;}
	
}
@media screen and (max-width: 320px) {}


/* https://www.squarespace.com




























